/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: linear-gradient(90deg, rgba(123,30,122,1) 0%, rgba(12,10,62,1) 74%);}

h1{
    text-align: center;
    color: white;
}

.main-container{
    font-size: large;
    text-align: center;
    color: white;
}